<div class="navbar">
  <ul class="left">
    <li>
      <a
        [routerLink]="['/homepage']"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        >Home</a
      >
    </li>
    <li><a [routerLink]="['/all-services']" *ngIf="isLoggedIn" routerLinkActive="active">Provided Services</a></li>
    <!-- Only for ServiceProvider role -->
    <li><a [routerLink]="['/create-service']" *ngIf="isLoggedIn && isServiceProvider" routerLinkActive="active">Create Service</a></li>
  </ul>
  <ul class="right">
    <li><a [routerLink]="['/login']" *ngIf="!isLoggedIn" routerLinkActive="active">Login</a></li>
    <li>
      <a [routerLink]="['/register']" *ngIf="!isLoggedIn" routerLinkActive="active">Register</a>
    </li>
    <li *ngIf="isLoggedIn"><a [routerLink]="['/user-profile']">My Profile</a></li>
    <li *ngIf="isLoggedIn"><a href="#" (click)="logout()">Logout</a></li>
  </ul>
</div>
