<app-navbar></app-navbar>
<div class="filter-container">
  <label class="filter-label">Filter by Status:</label>
  <select [(ngModel)]="statusFilter" (ngModelChange)="onStatusChange()">
    <option value="all">All</option>
    <option *ngFor="let status of statusEnum" [ngValue]="status">{{ status }}</option>
  </select>
</div>

<div class="booked-services">
  <h2>Booked Services</h2>
  <div *ngIf="isLoading" class="spinner"></div>
  <table class="bookings-table" *ngIf="!isLoading" class="bookings-table">
    <thead>
      <tr>
        <th>Service Name</th>
        <th>Provider Email</th>
        <th>Book Date</th>
        <th>Updated Date</th>
        <th>Price</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let booking of bookings | filterByStatus: statusFilter">
        <td>{{ booking.serviceName }}</td>
        <td>{{booking.providerEmail}}</td>
        <td>{{ booking.bookingDate }}</td>
        <td>{{ booking.updatedDate }}</td>
        <td>{{ booking.price }}</td>
        <td>{{ booking.status }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="(bookings | filterByStatus: statusFilter)?.length === 0">
  <p>No bookings found.</p>
</div>
<!-- Pagination Controls -->
<div class="pagination">
  <button (click)="previousPage()" [disabled]="currentPage === 1">
    Previous
  </button>
  <span>Page {{ currentPage }}</span>
  <button (click)="nextPage()" [disabled]="currentPage * pageSize >= totalCount">
    Next
  </button>
</div>
<app-footer></app-footer>
