<app-navbar></app-navbar>
<div class="filter-container">
  <label for="statusFilter" class="filter-label">Filter by Status:</label>
  <select id="statusFilter" [(ngModel)]="statusFilter" class="filter-select">
    <option value="all">All</option>
    <option value="pending">Pending</option>
    <option value="completed">Completed</option>
    <option value="canceled">Canceled</option>
  </select>
</div>

<div class="booked-services">
  <h2>Booked Services</h2>
  <div *ngIf="isLoading" class="spinner"></div>
  <table class="bookings-table" *ngIf="!isLoading" class="bookings-table">
    <thead>
      <tr>
        <th>Service Name</th>
        <th>Date</th>
        <th>Time</th>
        <th>Price</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let booking of bookings | filterByStatus: statusFilter">
        <td>{{ booking.serviceName }}</td>
        <td>{{ booking.date }}</td>
        <td>{{ booking.time }}</td>
        <td>{{booking.price}}</td>
        <td>{{ booking.status }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="(bookings | filterByStatus: statusFilter)?.length === 0">
  <p>No bookings found.</p>
</div>

<app-footer></app-footer>
